<h1>Virtual Scroll</h1>
<hr>

<div class="row">
  <div class="col">
    <button (click)="irFinal()" class="btn btn-primary">Ir al final</button>
  </div>

  <div class="col text-center">
    <button (click)="irCentro()" class="btn btn-secondary">Ir al centro</button>
  </div>

  <div class="col text-right">
    <button (click)="irInicio()" class="btn btn-secondary">Ir al inicio</button>
  </div>

</div>
<br>

<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group">
  <div class="list-group-item" *cdkVirtualFor="let persona of personas; let i = index; let conteo = count">
    <div class="animated fadeIn bounceInUp">item {{i}} / {{conteo}}</div>
  </div>
</cdk-virtual-scroll-viewport>
